@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.date-div > * {
  width: 100% !important;

}

input[type="file"]::file-selector-button {
  background-color: rgb(5 122 85 / var(--tw-bg-opacity)); /* Tailwind's green-500 */
  transition: all 300ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #059669; /* Tailwind's green-600 */
}

input[type="file"]::file-selector-button:active {
  background-color: #059669; /* Tailwind's green-700 */
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}